#box1{
    border: 1px solid;
    height: 75px;
    width: 100%;
    background-color:rgba(13, 13, 13,0.5);
    position: sticky;
    top: 0px;
    left: 0%;
    
}
#logo1{
    margin-top: 12px;
    margin-left: 25px;
    float: left;
    position: static;
    opacity: 1;
}
#lines{
    height: 50px;
    margin-top: 10px;
    float: right;
    margin-right: 10px;

}
#MullinsMade{
    color:white;
    font-family: PT Serif;
    float: right;
    margin-top: 10px;
    font-size: 30px;
    margin-right: 25px;
}
@media  (min-width: 600px) {
    #MullinsMade{
        margin-right: 70px;
    }

}
@media  (min-width: 700px) {
    #MullinsMade{
        margin-right: 150px;
    }

}
@media  (min-width: 800px) {
    #MullinsMade{
        margin-right: 230px;
    }

}
@media  (min-width: 1440px) {
    #MullinsMade{
        margin-right: 525px;
    }

}
#pic1{
    height: 350px;
    position: static;
}
@media  (min-width: 800px) {
    #P1{
        float: left;
    }

}
@media  (min-width: 800px) {
    #P3{
        float: left;
    }
}

@media  (min-width: 1440px) {
    #P3{
        float: none;
    }
}
@media  (min-width: 1440px) {
    #P2{
        float: right;
    }
}
#pic2{
    height: 350px;
    position: static;
}
#pic3{
    height: 350px;
}
#pic4{
    height: 350px;
}
#p1{
    color: white;
    text-align: center;
}
#p2{
    color: white;
    text-align: center;

}
#p3{
    color: white;
    text-align: center;

}
#p4{
    color: white;
    text-align: center;

}
